{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "flow",
        "react"
    ],
    "plugins": [
        "external-helpers"
    ]
}